<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/index-style.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f5bcff8aa0.js" crossorigin="anonymous"></script>
    <title>Donorun</title>
</head>

<body class="poppins">
    <div class="bg-white w-full">
        <section class="header">
            <div class="navbar h-16 flex items-center text-white text-sm mx-20">
                <div class="logo w-1/5 h-16">
                    <img src="images/logo.svg" alt="" srcset="" class="w-28 h-16 object-contain">
                </div>
                <div class="about h-16 mx-5 flex items-center ml-auto">
                    <a href="">About</a>
                </div>
                <div class="news h-16 mx-5 flex items-center">
                    <a href="">News</a>
                </div>
                <div class="volunteer h-16 mx-5 flex items-center">
                    <a href="">Volunteers</a>
                </div>
                <div class="campaign h-16 mx-5 flex items-center">
                    <a href="">Campaign</a>
                </div>
            </div>
            <div class="content h-1/5 w-full text-white px-20">
                <div class="flex flex-row justify-content-center items-center">
                    <div class="left space-y-5">
                        <p class="text-5xl bold">Your blood can <br>
                            <span class="hover">save lives</span></p>
                        <p class="text-md w-80">Don't let fools or mosquitoes get blood; make good use of it. Donate
                            blood and save a life
                        </p>
                        <button class="border border-2 border-white rounded-full px-5 py-1 text-sm">Donate</button>
                    </div>
                    <img src="images/image-header.svg" alt="" class="h-96 w-96 object-contain ml-auto">
                </div>
            </div>
        </section>
        <section class="provide">
            <div class="title text-red text-3xl px-20 bold -mt-14">
                Donorun.id <br> provides
            </div>
            <div class="flex flex-row px-20 mt-20 justify-around">
                <div class="find w-56 text-center grid justify-items-center">
                    <img src="images/find.svg" alt="" class="w-36 h-36">
                    <h6 class="text-red semi-bold text-2xl">Find</h6>
                    <p class="text-red text-lg">Find volunteer donors who are ready to donate through our application
                        directly</p>
                </div>
                <div class="connect w-56 text-center grid justify-items-center">
                    <img src="images/connect.svg" alt="" class="w-36 h-36">
                    <h6 class="text-red semi-bold text-2xl">Connect</h6>
                    <p class="text-red text-lg">Contact donors directly through the application without intermediaries
                    </p>
                </div>
                <div class="donor w-56 text-center grid justify-items-center">
                    <img src="images/donor.svg" alt="" class="w-36 h-36">
                    <h6 class="text-red semi-bold text-2xl">Donor</h6>
                    <p class="text-red text-lg">Do blood donation according to the location of need</p>
                </div>
            </div>
        </section>
        <section class="volunteer-story">
            <div class="flex justify-between px-20 items-center">
                <p class="title text-red text-3xl bold">Volunteer Story</p>
                <p class="text-red text-md semi-bold">See all</p>
            </div>
            <div class="content px-20 flex justify-around space-x-7 mt-16">
                <div class="border border-black w-72 py-3 px-3 bg-white border-story">
                    <img src="images/story-1.png" alt="" class="w-full h-56 mb-5">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam tenetur obcaecati sunt vitae ea.
                        Sapiente, minus? Illum voluptatibus amet itaque.</p>
                </div>
                <div class="border border-black w-72 py-3 px-3 bg-white border-story">
                    <img src="images/story-2.png" alt="" class="w-full h-56 mb-5">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro provident nulla cum officia minima
                        numquam, veritatis dolore repudiandae repellat eaque?</p>
                </div>
                <div class="border border-black w-72 py-3 px-3 bg-white border-story">
                    <img src="images/story-3.png" alt="" class="w-full h-56 mb-5">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo fugit officia placeat recusandae.
                        Assumenda ratione laboriosam beatae, explicabo necessitatibus illo!</p>
                </div>
            </div>
            <div class="blood-donation flex justify-between px-20 items-center mt-10">
                <p class="title text-3xl bold text-white w-72">Blood donation benefits</p>
                <img src="images/blood.png" alt="" class="w-56 h-56">
            </div>
            <div class="px-20 flex justify-between space-x-7">
                <div class="w-1/4 h-80 bg-white border-story flex flex-col justify-center items-center space-y-8 py-10">
                    <img src="images/donation-1.svg" alt="">
                    <p class="text-md text-red bold w-40 text-center">Maintain Heart Health</p>
                </div>
                <div class="w-1/4 bg-white border-story flex flex-col justify-center items-center space-y-8 py-10">
                    <img src="images/donation-2.svg" alt="">
                    <p class="text-md text-red bold w-40 text-center">Detecting Serious Diseases</p>
                </div>
                <div class="w-1/4 bg-white border-story flex flex-col justify-center items-center space-y-8 py-10">
                    <img src="images/donation-3.svg" alt="">
                    <p class="text-md text-red bold w-40 text-center">Increase Blood Cell Production</p>
                </div>
                <div class="w-1/4 bg-white border-story flex flex-col justify-center items-center space-y-8 py-10">
                    <img src="images/donation-4.svg" alt="">
                    <p class="text-md text-red bold w-40 text-center">Help lose weight</p>
                </div>
            </div>
        </section>
        <section class="footer flex text-white items-end px-20 justify-between">
            <p class="bold text-5xl h-80">Donorun.id</p>
            <div class="h-80">
                <p class="text-xl semi-bold mb-4">Our Partner</p>
                <p>PMI Indonesia</p>
                <p>KSSD Community</p>
                <p>Pramuka</p>
                <p>Innovillage</p>
            </div>
            <div class="h-80">
                <p class="text-xl semi-bold mb-4">Follow Me</p>
                <p class="w-36">Follow our latest updates via our social media</p>
                <p>Donorun.id</p>
                <p>Donorun.id</p>
                <p>Donorun.id</p>
                <p>Donorun.id</p>
            </div>
            <div class="h-80">
                <p class="text-xl semi-bold">Contact Me</p>
            </div>
        </section>
        <!-- <div class="background-header">
            <img src="img/background-header.png" alt="">
        </div> -->
    </div>
</body>

</html>